* {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.today-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.info-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}